
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: violet; /* Cambia el color de fondo a violeta */
}
.container {
    margin-top: 100px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}
